body {
    font-family: Arial, sans-serif;
    background-color:  #fdf1d3;
}

#stan, #kuca, #pp {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
}

.stanovi {
    background-color: white; 
    border: 1px solid #ccc;
    width: 300px;
}
.nekretnina{
    background-color: powderblue; 
    border: 1px solid #ccc;
    width: 300px;
}
.prostor{
    background-color: green; 
    border: 1px solid #ccc;
    width: 300px;
}

 img {
    max-width: 100%;
    height: auto;
}

.informacije {
    text-align: left;
    padding: 10px;
}

.naziv {
    text-align: left;
    font-weight: bold;
    margin: 0;
}
.kvadratura{
    text-align: left;
    padding-top: 5px;
    margin: 0;
}

.cijena{
    text-align: right;
    padding: 5px;
    margin: 0;
}

.detalji {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    background-color: #3498db; /* Svijetloplava boja za kuće */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
iframe{
    margin: 0 auto;
    width: 100%;
    height: 51px;
    border: none;
}
